*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/java/com/example/zadanie/helpers/Config.kt
*.aab
*.apk
app/src/main/java/com/example/zadanie/helpers/Config.kt
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.properties
Screenshot_20221113_215019.png
Screenshot_20221113_215038.png
